#span1{
	color: #F5ED90;
	background-color: skyblue;
	display: inline;
}

#span2{
	background-color: darkcyan;
	visibility: hidden;/* oculta el objeto pero reserva el espacio */
}

#span3{
 	background-color: #F5ED90;
	display: none;/* Colapsa el espacio*/
}

#span4{
	background-color: maroon;
	display: hidden;
}

#div1{
	background-color: maroon;
	
}
#div2{
	background-color: red;	
	visibility: hidden;
}
#div3{
	background-color: darkcyan;
	visibility: collapse;
}
#div4{
	background-color: skyblue;
	visibility: none;
}


nav{
	height: 15%;
	width: 100%;
	background: skyblue;
	border: 3px;
}
a{
	/*position: absolute;*/
	float: right;
	padding: 5px;
	margin-right: 20px;
	}
#landing_logo{
	width: 30px;
	height: 30px;
}
h1{
	text-align: center;
	font-weight: 100;
	font-family: karla;
	font-size: 66px;
}
h6{
	text-align: center;
	font-weight: 100;
	font-family: karla;
	font-size: 26px;
}

#objetivo{
	text-align: center;
	width: 50%;
	height: 30%;
	margin-left: auto;
  	margin-right: auto;
}

fieldset{
	text-align: center;
	width: 40%;
	height: auto;
	border-radius: 10px 10px;
	margin-left: auto;
  	margin-right: auto;
}
#monitor{
	
	text-align: center;
	width: 98%;
	height: auto;
/*	margin-top: 20px;*/
	margin-left: auto;
  	margin-right: auto;
  }
  #fondo_logistica{
  	border: 1px solid #000;
  	margin-top: 20px;
  	width: 100%;
	height: auto;
  }
 #contenedor_registro{
 	background-color: rgba(51, 144, 215, 0.54);
 	padding: 20px;
 	border: 1px solid #000;
	text-align: center;
	width: 20%;
	height: auto;
	border-radius: 10px 10px;
	margin-left: auto;
  	margin-right: auto;
}
input{
	position: relative;
	margin-left: auto;
  	margin-right: auto;
  	display: flex;
  	flex-direction: row;
}
label,button{
	font-weight: 100;
	font-family: karla;
	font-size: 16px;

}
legend{
	text-align: left;
}
#titulo_registro{
	padding: 25px;
	text-align: center;
	font-weight: 100;
	font-family: karla;
	font-size: 28px;
}
#registro{
	background-image: url("img/fondo_registro.jpg");

}
.etiqueta1{

	text-decoration-color: lightblue;
}

.etiqueta2{

	text-decoration-color: red;
}